extends layout

block content
  section.terms-page
    h2 Terms of Acceptance for Social Media Post Rights
    br
    ol
      li
        p
         strong Rights
        p The Content Owner is granting rights to a non exclusive, non transferable, and royalty-free license.
      li
        p
          strong Use.
        p The Content Licensor may use, modify, reproduce, distribute, display, and transmit the Content in electronic form over the internet and third party networks in connection with their properties, and to permit users of The Content Licensor's properties to download and print the Content, and modify the Content only for the purpose of fitting the format, look, and feel of their properties.
      li
        p
          strong Relevant parties.
        p The Content Owner has received permission from all relevant parties related to The Content.
      li
        p
          strong Content Attribution by The Content Licensor.
        p The Content Licensor shall clearly attribute all Content used with and on The Content Licensor properties to The Content Owner and all relevant parties as indicated by the The Content Owner.
      li
        p
          strong Trademark License Grant.
        p hereby grants The Content Licensor a limited, non-exclusive, and royalty-free license to use The Content Owner Trademarks solely in connection with The Content Licensor's rights and obligations under this agreement.
      li
        p
          strong Permitted Uses.
        p The Content Licensor may use Content only for
        ol
          li advertising and promotional projects, including printed materials, product packaging, presentations, film and video presentations, commercials, catalogues, brochures, and promotional greeting cards and promotional postcards, including prints, posters, and other reproductions for personal use or promotional purposes, but not for resale, license, or other distribution,
          li entertainment applications, including books and book covers, magazines, newspapers, editorials, newsletters, and video, broadcast, and theatrical presentations,
          li online or electronic publications, including web pages and social media
      li
        p
          strong Term
        ol
          li
            p
              strong Initial Term.
              |  The Term will begin on the date of payment and continue for 10 years.
            li
              p
                strong Automatic Renewal.
                |  at the end of each Term this agreement will automatically renew for a renewal term of 60 months.
            li
              p
                strong Election Not to Renew.
                |  Either party may elect not to renew this agreement, by providing notice to the other party at least 30 Business Days' before the end of the Term.
      li
        p
          strong Authority and Enforceability
        ol
          li
            strong Authority.
            p Each party has the requisite power and authority to enter into this agreement.
            strong Capacity.
              p Each party has the capacity to enter into the agreement.
            strong Enforceable.
              p This agreement constitutes a legal, valid, and binding obligation, enforceable against each party.
      li
        p
          strong No Other Warranty
        p "As-Is". The Content is provided "as is," with all faults, defects, bugs, and errors.
      li
        p
          strong Limitation on Liability.
        p Neither party will be liable for breach-of-contract damages that are remote or speculative, or that the breaching party could not reasonably have foreseen on entry into this agreement.

