extends layout

block header
  .intro
    .ambassadors
      h1 Brands want your content
      h2 Tribe Dynamics connects brands with influencers to help brands get the rights to the best UGC out there.
      if ambassador && ambassador.stripeAccountId
        a.button.primary(href='/ambassadors/dashboard') View dashboard
      else
        a.button.primary(href='/ambassadors/signup') Connect Now

block content
  .features
    section.stripe
      h3 Stripe - A trusted payments partner
      p We use Stripe to help you get payments securely, quickly and easily. All transaction information is hosted on Stripe's servers, the worlds most secure payments platform
    section.earnings
      h3 Get paid for your content
      p You've already received a request from brands to use your content, now check the terms and get paid instantly

