doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@TribeDynamics')
    meta(name='twitter:title', content='Tribe Dynamics')
    meta(name='twitter:description', content='Tribe Dynamics is an influencer relationship platform.')
    title Tribe Dynamics
    link(rel='stylesheet', type='text/css', href='/stylesheets/tribedynamics.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Barlow:500,600')
    link(rel='icon', type='image/png', sizes='64x64', href='/images/favicon.png')

  body
    header
      #top
        if ambassador
          .logo
            a.tribedynamics.mark(href='/')
          .links
            if ambassador.stripeAccountId
              a(href='/ambassadors/dashboard') Dashboard
            a(href='/ambassadors/logout') Log out
        else
          .logo
            a.tribedynamics(href='/')
          .links
            a(href='/ambassadors/login') Log in
      block header

    #content
      block content

    footer
      block footer

    script(src='/javascripts/tribedynamics.js')
