extends layout

block content
  h1.title.short-form
    if step == 'account'
      | Create your account
    else if step == 'profile'
      | Complete your profile
  section.form(class={'account': step == 'account', 'profile': step == 'profile'})
    if error
      p.error= error

    case step
      when 'account'
        form(method='POST', autocomplete='off')
          fieldset
            .row(label='Email')
              input(type='email', name='email', placeholder='jane@example.com', required, autofocus)
            .row(label='Password')
              input(type='password', name='password', placeholder='••••••••', required)
          input.primary(type='submit', value='Continue')

      when 'profile'
        form(method='POST', autocomplete='off')

          h4.ambassador-header#account-info Personal information
          fieldset
            .row.ambassador-info.individual(label='* First Name')
              input(type='text', name='firstName', placeholder='Jane')
            .row.ambassador-info.individual(label='* Last Name')
              input(type='text', name='lastName', placeholder='Diaz')
          aside * Indicates required fields
          h4 Payment information
          .stripe-information
            p We use Stripe to make sure you get paid on time and to keep your personal bank and details secure. Click #[strong Save and continue] to set up your payments on Stripe.

          input.primary(type='submit', value='Save and continue')

      when 'payments'
        h1.title Connect your account to Stripe
        p You're all signed up #{displayName}
        p We use Stripe to make sure you get paid on time and keep your personal and bank details secure.
        a.button.primary(href='/account/stripe/authorize') Set up payments

block footer
  .annotation.info

    case step
      when 'account'
        p To get started, Tribe creates an account for ambassadors. We are using simple email and password here but maybe we should do something more robust. We are also going to link to terms and conditions here, and state that whenever a user accepts payment related to a post they agree to these. Might need to sort this out because I'm not sure how legally robust this is, should have paid attention to Legally Blonde more closely I guess.

      when 'profile'
        p We're asking here for First and Last name but ask for more?

      when 'payments'
        p We use #[a(href='https://stripe.com/connect/account-types') Connect Express] accounts to pay ambassadors. We’ll pass some of the user information we have collected to Express in order to make onboarding as simple as possible. Currently we're in test mode, so no real payments are going through and are using the Stripe test Visa debit card number as a payout method: #[strong 4000 0566 5566 5556]
